
.rotatemin{
    animation:rotation 2s;
}
.rotatemedium{
    animation:rotation 1s;
}
.rotatemax{
    animation:rotation 0.5s;
}
.linear{
    animation-timing-function: linear;
}
.infinite{
    animation-iteration-count: infinite;
}
